@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,700&display=swap');


.container-1 {
    display: flex;
}

.container-1 div {
    border: 2px #ccc solid;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}

.boxes-1 {
    flex: 1;
}

.boxes-2 {
    flex: 1;
}

.boxes-3 {
    flex: 1;
}