@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 5px ;
}


.container-1 {
    display: flex;
    background-color: #f4f4f4;
}

.container-1 div {
    border: 1px #ccc solid;
    font-family: 'Open Sans', sans-serif;
    width: 100px;
    height: 100px;
   
}

.boxes-1 {
    flex: 1;
    background-color: rgb(247, 171, 17);
    color: #fff;
}

.boxes-2 {
    flex: 1;
    background-color: rgb(59, 186, 195);
    color: #fff;
}

.boxes-3 {
    flex: 1;
    background-color: rgb(9, 9, 9);
    color: #fff;
}